<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="commerce/fragments/head :: head"></head>-->
<!--&lt;!&ndash; Body&ndash;&gt;-->
<!--<body class="toolbar-enabled">-->
<!--&lt;!&ndash; Sign in / sign up modal&ndash;&gt;-->
<!--<th:block th:include="~{commerce/fragments/sign-in-modal}"></th:block>-->
<!--&lt;!&ndash; Navbar&ndash;&gt;-->
<!--&lt;!&ndash; Quick View Modal&ndash;&gt;-->
<!--<th:block th:include="~{commerce/fragments/quick-view-modal}"></th:block>-->
<!--&lt;!&ndash; Navbar Electronics Store&ndash;&gt;-->
<!--<header th:replace="commerce/fragments/header :: header"></header>-->
<!--&lt;!&ndash; Page title&ndash;&gt;-->
<!--&lt;!&ndash; Custom page title&ndash;&gt;-->
<!--<div class="page-title-overlap bg-dark pt-4">-->
<!--    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">-->

<!--        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">-->
<!--            <h1 class="h3 text-light mb-0">Checkout</h1>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Page Content&ndash;&gt;-->
<!--&lt;!&ndash; Page Content&ndash;&gt;-->
<!--<div class="container pb-5 mb-2 mb-md-4">-->
<!--    <div class="row">-->
<!--        <section class="col-lg-8">-->
<!--            &lt;!&ndash; Steps&ndash;&gt;-->
<!--            <div class="steps steps-light pt-2 pb-3 mb-5"><a class="step-item active" href="shop-cart.html">-->
<!--                <div class="step-progress"><span class="step-count">1</span></div>-->
<!--                <div class="step-label"><i class="czi-cart"></i>Cart</div></a><a class="step-item active current" href="checkout-details.html">-->
<!--                <div class="step-progress"><span class="step-count">2</span></div>-->
<!--                <div class="step-label"><i class="czi-user-circle"></i>Your details</div></a><a class="step-item" href="checkout-shipping.html">-->
<!--                <div class="step-progress"><span class="step-count">3</span></div>-->
<!--                <div class="step-label"><i class="czi-check-circle"></i>Review</div></a></div>-->
<!--            &lt;!&ndash; Autor info&ndash;&gt;-->
<!--            <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">-->
<!--            <div class="d-sm-flex justify-content-between align-items-center bg-secondary p-4 rounded-lg mb-grid-gutter">-->
<!--                <div class="media align-items-center">-->
<!--                    <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;"><span class="badge badge-warning" data-toggle="tooltip" title="Reward points">384</span><img class="rounded-circle" src="img/shop/account/avatar.jpg" alt="Susan Gardner"></div>-->
<!--                    <div class="media-body pl-3">-->
<!--                        <h3 class="font-size-base mb-0">Susan Gardner</h3><span class="text-accent font-size-sm">s.gardner@example.com</span>-->
<!--                    </div>-->
<!--                </div><a class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0" href="account-profile.html"><i class="czi-edit mr-2"></i>Edit profile</a>-->
<!--            </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Shipping address&ndash;&gt;-->
<!--            <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Shipping address</h2>-->
<!--            <div class="row">-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-fn">First Name</label>-->
<!--                        <input class="form-control" type="text" id="checkout-fn">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-ln">Last Name</label>-->
<!--                        <input class="form-control" type="text" id="checkout-ln">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-email">E-mail Address</label>-->
<!--                        <input class="form-control" type="email" id="checkout-email">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-phone">Phone Number</label>-->
<!--                        <input class="form-control" type="text" id="checkout-phone">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-company">Company</label>-->
<!--                        <input class="form-control" type="text" id="checkout-company">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-country">Country</label>-->
<!--                        <select class="form-control custom-select" id="checkout-country">-->
<!--                            <option>Choose country</option>-->
<!--                            <option>Australia</option>-->
<!--                            <option>Canada</option>-->
<!--                            <option>France</option>-->
<!--                            <option>Germany</option>-->
<!--                            <option>Switzerland</option>-->
<!--                            <option>USA</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-city">Country</label>-->
<!--                        <select class="form-control custom-select" id="checkout-city">-->
<!--                            <option>Choose city</option>-->
<!--                            <option>Amsterdam</option>-->
<!--                            <option>Berlin</option>-->
<!--                            <option>Geneve</option>-->
<!--                            <option>New York</option>-->
<!--                            <option>Paris</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-zip">ZIP Code</label>-->
<!--                        <input class="form-control" type="text" id="checkout-zip">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-address-1">Address 1</label>-->
<!--                        <input class="form-control" type="text" id="checkout-address-1">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="checkout-address-2">Address 2</label>-->
<!--                        <input class="form-control" type="text" id="checkout-address-2">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <h6 class="mb-3 py-3 border-bottom">Billing address</h6>-->
<!--            <div class="custom-control custom-checkbox">-->
<!--                <input class="custom-control-input" type="checkbox" checked id="same-address">-->
<!--                <label class="custom-control-label" for="same-address">Same as shipping address</label>-->
<!--            </div>-->
<!--            &lt;!&ndash; Navigation (desktop)&ndash;&gt;-->
<!--            <div class="d-none d-lg-flex pt-4 mt-3">-->
<!--                <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="shop-cart.html"><i class="czi-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>-->
<!--                <div class="w-50 pl-2"><a class="btn btn-primary btn-block" href="checkout-shipping.html"><span class="d-none d-sm-inline">Proceed to Shipping</span><span class="d-inline d-sm-none">Next</span><i class="czi-arrow-right mt-sm-0 ml-1"></i></a></div>-->
<!--            </div>-->
<!--        </section>-->
<!--        &lt;!&ndash; Sidebar&ndash;&gt;-->
<!--        <aside class="col-lg-4 pt-4 pt-lg-0">-->
<!--            <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">-->
<!--                <div class="widget mb-3">-->
<!--                    <h2 class="widget-title text-center">Order summary</h2>-->
<!--                    <th:block th:each="product : ${cartChildDTO.getProducts()}">-->
<!--                    <div class="media align-items-center pb-2 border-bottom"><a class="d-block mr-2" href="shop-single-v1.html"><img width="64" th:src="${product.getPhotos().get(0).getLocation()}" alt="Product"/></a>-->
<!--                        <div class="media-body">-->
<!--                            <h6 class="widget-product-title"><a th:href="@{'~/product/' + ${product.getId()}}" th:text="${product.getName()}">Women Colorblock Sneakers</a></h6>-->
<!--                            <div class="widget-product-meta"><span class="text-accent mr-2" th:text="'$'+${product.getPrice()}">$150.<small>00</small></span><span class="text-muted">x 1</span></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    </th:block>-->
<!--                    <div class="media align-items-center py-2 border-bottom"><a class="d-block mr-2" href="shop-single-v1.html"><img width="64" src="img/shop/cart/widget/02.jpg" alt="Product"/></a>-->
<!--                        <div class="media-body">-->
<!--                            <h6 class="widget-product-title"><a href="shop-single-v1.html">TH Jeans City Backpack</a></h6>-->
<!--                            <div class="widget-product-meta"><span class="text-accent mr-2">$79.<small>50</small></span><span class="text-muted">x 1</span></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="media align-items-center py-2 border-bottom"><a class="d-block mr-2" href="shop-single-v1.html"><img width="64" src="img/shop/cart/widget/03.jpg" alt="Product"/></a>-->
<!--                        <div class="media-body">-->
<!--                            <h6 class="widget-product-title"><a href="shop-single-v1.html">3-Color Sun Stash Hat</a></h6>-->
<!--                            <div class="widget-product-meta"><span class="text-accent mr-2">$22.<small>50</small></span><span class="text-muted">x 1</span></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="media align-items-center py-2 border-bottom"><a class="d-block mr-2" href="shop-single-v1.html"><img width="64" src="img/shop/cart/widget/04.jpg" alt="Product"/></a>-->
<!--                        <div class="media-body">-->
<!--                            <h6 class="widget-product-title"><a href="shop-single-v1.html">Cotton Polo Regular Fit</a></h6>-->
<!--                            <div class="widget-product-meta"><span class="text-accent mr-2">$9.<small>00</small></span><span class="text-muted">x 1</span></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <ul class="list-unstyled font-size-sm pb-2 border-bottom">-->
<!--                    <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Subtotal:</span><span class="text-right" th:text="'$'+${cartChildDTO.getTotalPrice()}">$265.<small>00</small></span></li>-->
<!--                    <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Shipping:</span><span class="text-right">—</span></li>-->

<!--                </ul>-->
<!--                <h3 class="font-weight-normal text-center my-4" th:text="'$'+${cartChildDTO.getTotalPrice()}">$274.<small>50</small></h3>-->

<!--            </div>-->
<!--        </aside>-->
<!--    </div>-->
<!--    &lt;!&ndash; Navigation (mobile)&ndash;&gt;-->
<!--    <div class="row d-lg-none">-->
<!--        <div class="col-lg-8">-->
<!--            <div class="d-flex pt-4 mt-3">-->
<!--                <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="shop-cart.html"><i class="czi-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>-->
<!--                <div class="w-50 pl-2"><a class="btn btn-primary btn-block" th:href="@{'~/review/'}"><span class="d-none d-sm-inline">Proceed to Review</span><span class="d-inline d-sm-none">Next</span><i class="czi-arrow-right mt-sm-0 ml-1"></i></a></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Footer&ndash;&gt;-->
<!--&lt;!&ndash; Footer&ndash;&gt;-->
<!--<footer class="bg-dark pt-5">-->
<!--    <div class="container">-->
<!--        <div class="row pb-2">-->
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="widget widget-links widget-light pb-2 mb-4">-->
<!--                    <h3 class="widget-title text-light">Shop departments</h3>-->
<!--                    <ul class="widget-list">-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Sneakers &amp; Athletic</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Athletic Apparel</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Sandals</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Jeans</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Shirts &amp; Tops</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Shorts</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">T-Shirts</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Swimwear</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Clogs &amp; Mules</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Bags &amp; Wallets</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Accessories</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Sunglasses &amp; Eyewear</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Watches</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="widget widget-links widget-light pb-2 mb-4">-->
<!--                    <h3 class="widget-title text-light">Account &amp; shipping info</h3>-->
<!--                    <ul class="widget-list">-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Your account</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Shipping rates &amp; policies</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Refunds &amp; replacements</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Order tracking</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Delivery info</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Taxes &amp; fees</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="widget widget-links widget-light pb-2 mb-4">-->
<!--                    <h3 class="widget-title text-light">About us</h3>-->
<!--                    <ul class="widget-list">-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">About company</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Our team</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Careers</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">News</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="widget pb-2 mb-4">-->
<!--                    <h3 class="widget-title text-light pb-1">Stay informed</h3>-->
<!--                    <form class="cz-subscribe-form validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>-->
<!--                        <div class="input-group input-group-overlay flex-nowrap">-->
<!--                            <div class="input-group-prepend-overlay"><span class="input-group-text text-muted font-size-base"><i class="czi-mail"></i></span></div>-->
<!--                            <input class="form-control prepended-form-control" type="email" name="EMAIL" placeholder="Your email" required>-->
<!--                            <div class="input-group-append">-->
<!--                                <button class="btn btn-primary" type="submit" name="subscribe">Subscribe*</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
<!--                        <div style="position: absolute; left: -5000px;" aria-hidden="true">-->
<!--                            <input class="cz-subscribe-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">-->
<!--                        </div><small class="form-text text-light opacity-50">*Subscribe to our newsletter to receive early discount offers, updates and new products info.</small>-->
<!--                        <div class="subscribe-status"></div>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="widget pb-2 mb-4">-->
<!--                    <h3 class="widget-title text-light pb-1">Download our app</h3>-->
<!--                    <div class="d-flex flex-wrap">-->
<!--                        <div class="mr-2 mb-2"><a class="btn-market btn-apple" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a></div>-->
<!--                        <div class="mb-2"><a class="btn-market btn-google" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="pt-5 bg-darker">-->
<!--        <div class="container">-->
<!--            <div class="row pb-3">-->
<!--                <div class="col-md-3 col-sm-6 mb-4">-->
<!--                    <div class="media"><i class="czi-rocket text-primary" style="font-size: 2.25rem;"></i>-->
<!--                        <div class="media-body pl-3">-->
<!--                            <h6 class="font-size-base text-light mb-1">Fast and free delivery</h6>-->
<!--                            <p class="mb-0 font-size-ms text-light opacity-50">Free delivery for all orders over $200</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-sm-6 mb-4">-->
<!--                    <div class="media"><i class="czi-currency-exchange text-primary" style="font-size: 2.25rem;"></i>-->
<!--                        <div class="media-body pl-3">-->
<!--                            <h6 class="font-size-base text-light mb-1">Money back guarantee</h6>-->
<!--                            <p class="mb-0 font-size-ms text-light opacity-50">We return money within 30 days</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-sm-6 mb-4">-->
<!--                    <div class="media"><i class="czi-support text-primary" style="font-size: 2.25rem;"></i>-->
<!--                        <div class="media-body pl-3">-->
<!--                            <h6 class="font-size-base text-light mb-1">24/7 customer support</h6>-->
<!--                            <p class="mb-0 font-size-ms text-light opacity-50">Friendly 24/7 customer support</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-sm-6 mb-4">-->
<!--                    <div class="media"><i class="czi-card text-primary" style="font-size: 2.25rem;"></i>-->
<!--                        <div class="media-body pl-3">-->
<!--                            <h6 class="font-size-base text-light mb-1">Secure online payment</h6>-->
<!--                            <p class="mb-0 font-size-ms text-light opacity-50">We possess SSL / Secure сertificate</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <hr class="hr-light pb-4 mb-3">-->
<!--            <div class="row pb-2">-->
<!--                <div class="col-md-6 text-center text-md-left mb-4">-->
<!--                    <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 mr-3" href="#"><img class="d-block" width="117" src="img/footer-logo-light.png" alt="Cartzilla"/></a>-->
<!--                        <div class="btn-group dropdown disable-autohide">-->
<!--                            <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button" data-toggle="dropdown"><img class="mr-2" width="20" src="img/flags/en.png" alt="English"/>Eng / $-->
<!--                            </button>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li class="dropdown-item">-->
<!--                                    <select class="custom-select custom-select-sm">-->
<!--                                        <option value="usd">$ USD</option>-->
<!--                                        <option value="eur">€ EUR</option>-->
<!--                                        <option value="ukp">£ UKP</option>-->
<!--                                        <option value="jpy">¥ JPY</option>-->
<!--                                    </select>-->
<!--                                </li>-->
<!--                                <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="img/flags/fr.png" alt="Français"/>Français</a></li>-->
<!--                                <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="img/flags/de.png" alt="Deutsch"/>Deutsch</a></li>-->
<!--                                <li><a class="dropdown-item" href="#"><img class="mr-2" width="20" src="img/flags/it.png" alt="Italiano"/>Italiano</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="widget widget-links widget-light">-->
<!--                        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">-->
<!--                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Outlets</a></li>-->
<!--                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Affiliates</a></li>-->
<!--                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Support</a></li>-->
<!--                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Privacy</a></li>-->
<!--                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Terms of use</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 text-center text-md-right mb-4">-->
<!--                    <div class="mb-3"><a class="social-btn sb-light sb-twitter ml-2 mb-2" href="#"><i class="czi-twitter"></i></a><a class="social-btn sb-light sb-facebook ml-2 mb-2" href="#"><i class="czi-facebook"></i></a><a class="social-btn sb-light sb-instagram ml-2 mb-2" href="#"><i class="czi-instagram"></i></a><a class="social-btn sb-light sb-pinterest ml-2 mb-2" href="#"><i class="czi-pinterest"></i></a><a class="social-btn sb-light sb-youtube ml-2 mb-2" href="#"><i class="czi-youtube"></i></a></div><img class="d-inline-block" width="187" src="img/cards-alt.png" alt="Payment methods"/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="pb-4 font-size-xs text-light opacity-50 text-center text-md-left">© All rights reserved. Made by <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--&lt;!&ndash; Toolbar for handheld devices&ndash;&gt;-->
<!--<th:block th:include="~{commerce/fragments/toolbar-for-handheld-device}"></th:block>-->
<!--&lt;!&ndash; Back To Top Button&ndash;&gt;<a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon czi-arrow-up">   </i></a>-->
<!--&lt;!&ndash; Vendor scrits: js libraries and plugins&ndash;&gt;-->
<!--<th:block th:include="~{commerce/fragments/bottom-js}"></th:block>-->
<!--</body>-->
<!--</html>-->